* {
  font-family: "proxima-nova"
}
html, body {
  height: 100%;
  background-color: #fafafa;
}

.headerBar {
  /* border: 1px solid blue; */
  background-color: white;
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;

 width: 100%;
 height: 10%;
 border: 1px solid #dbdbdb;
}

.searchBarContainer {


  display: flex;
 flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 33%;

  position: relative;
}

.searchBarContainer img {
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 7%;
    padding-left: 40%;
}

.searchBar {
  padding-top:5%;
  font: inherit;

}



.InstaHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;

  width: 33%;
}
.instaIcon {
  padding-top: 5%;

  margin-left: 50%;
}

.instaPic {
  padding-top: 5%;

  margin-left: 2%;

}
div.vertical-line{
  padding-top: 3%;
  margin-top: 5%;
      width: 1px;
      background-color: black;
      height: 30%;
      float: left;
      transition: opacity .1s ease-out;
    }





.rightSideIcons {
  display: flex;
  flex-direction: row;
  width: 33%;
  height: 100%;

 justify-content: flex-start;

}

.DMIcon {
margin-top: 5%;
  padding-right: 25px;
}

.compIcon {
  margin-top: 5%;
  padding-right: 25px;
}

.heartIcon {
  margin-top: 5%;
  padding-right: 25px;
}
.profilePicture {
  margin-top: 5%;
  border-radius: 50%;
  transform: rotate(90deg);

}

input {
  height: 30px;
   width: 200px;
    background-color: #fafafa;
}
 input:focus {
 background-color: #FEFF7F;
 border: 1px solid #FF0000;
 color:#000000;
}



.entirePage {
  overflow-y: scroll;
  margin-top: 100px;
  height: 100%;

  background-color: red;

  display: grid;
  grid-template-columns: [sideBaby] 20% [postPage] 40%  [sideBar] 20% [secondSideBaby] 20%;
 column-gap: 100px;
  background-color: #fafafa;
}

.postPage{
  grid-column-start: postPage;
  background-color:#fafafa;
}


.picturePost {
  display: flex;
  flex-direction: column;
  height: 950px;
  width: 640px;
  border: 1px solid #dbdbdb;

}

.pictureHeader {
  background-color: white;
  height: 60px;
  width: 100%;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

}

.postProfile {
height: 100%;
font-weight: bold;

padding-top: 6%;
  /* grid-column-start: profName; */
}

.profile {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}


.actualImage {
  width: 640px;
  height: 640px;
}

.pictureHeader img{
  border: 2px solid pink;
  border-radius: 50%;
  margin: 1px;
}

.dotdotdot {
  margin: 15px;
  padding-right: 10px;
  grid-column-start: col3;
  justify-self: end;
}



#compassIcon {
  padding: 10px;
}
#heartIcon {
  padding: 10px;
}
#userIcon {
  padding: 10px;
}








.picBottom {
  background-color: white;
display: grid;
grid-template-columns: [like] 10% [comment] 10% [send] 10% [bookmark] 1fr;
height: 40px;
width: 100%;



}

#likeIcon {
  grid-column-start: like;
  height: 70%;

}

 #commentIcon {

  grid-column-start: comment;
  height: 70%;


}

#sendIcon {

  grid-column-start: send;
  height: 70%;

}

#bookmarkIcon {
  padding-right: 20px;
  justify-self: end;

  grid-column-start: bookmark;
  height: 70%;

}

.likesComments {
  background-color: white;
  display: grid;
  grid-template-rows: [row1] 10% [row2] 10% [row3] 10% [row4] 1fr;
  grid-template-columns: [col1] 1fr;

}

.likes {
  margin-top: 5px;
  grid-row-start: row1;
  height: 100%;
}

.caption {
  grid-row-start: row2;
  height: 100%;
}

.time {
  grid-row-start: row3;
  font-size: 0.9em;
  font-weight: bold;
}

.addComment {
  display: flex;
  grid-row-start: row4;
  height: 100%;
  width: 640px;
  flex-direction: row;
  justify-content: space-between;

}

.button {
  grid-column-start: col1;
  color: #3897f0;
  font-weight: 600;
  align-self: end;
  margin: 10px;
}

#compassIcon {
  padding: 10px;
}
#heartIcon {
  padding: 10px;
}
#userIcon {
  padding: 10px;
}

.picturePostTwo {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  height: 950px;
  width: 640px;
    border: 1px solid #dbdbdb;

}

.pictureHeaderTwo {
  background-color: white;
  height: 60px;
  width: 100%;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

}

.postProfileTwo {
height: 100%;
font-weight: bold;

padding-top: 6%;
  /* grid-column-start: profName; */
}

.profileTwo {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}


.actualImageTwo {

  width: 640px;
  height: 640px;

}


.postProfileTwo {
  grid-column-start: profName;
  font-weight: bold;
}

.pictureHeaderTwo img{
  border: 2px solid pink;
  border-radius: 50%;
  margin: 1px;

}

.dotdotdotTwo {
  margin: 15px;
  padding-right: 10px;
  grid-column-start: col3;
  justify-self: end;
}

.picBottomTwo {
  background-color: white;
display: grid;
grid-template-columns: [like] 10% [comment] 10% [send] 10% [bookmark] 1fr;
height: 40px;
width: 100%;


}

#likeIconTwo {
  grid-column-start: like;
  height: 70%;

}

 #commentIconTwo {

  grid-column-start: comment;
  height: 70%;


}

#sendIconTwo {

  grid-column-start: send;
  height: 70%;

}

#bookmarkIconTwo {
  justify-self: end;
padding-right: 20px;
  grid-column-start: bookmark;
  height: 70%;

}


.likesCommentsTwo {
  display: grid;
  grid-template-rows: [row1] 10% [row2] 10% [row3] 10% [row4] 1fr;
  grid-template-columns: [col1] 1fr;
  background-color: white;

}

.likesTwo {
  margin-top: 5px;
  grid-row-start: row1;
  height: 100%;
}

.captionTwo {
  grid-row-start: row2;
  height: 100%;
}

.timeTwo {
  grid-row-start: row3;
  font-size: 0.9em;
  font-weight: bold;
}

.addCommentTwo {
  display: flex;
  flex-direction: row;
  grid-row-start: row4;
  height: 100%;
  justify-content: space-between;

}

.buttonTwo {
  grid-column-start: col1;
  color: #3897f0;
  font-weight: 600;
  align-self: end;
  margin: 10px;

}








.sideBar{
  column-gap: 1.0em;
  display: grid;
  grid-template-rows: [row1] 3% [row2] 12% [row3] 12% [row4] 4%;
  grid-column-start: sideBar;
  background-color: #fafafa;

  grid-row-gap: 10px;
}


.profileBar {

background-color: #fafafa;
display: grid;
grid-row-start: row1;

grid-template-columns: [col1] 25% [col2] 1fr;
height: 100%;

}



.profileSidePic {

  height: 100%;
  grid-column-start: col1;


}
.profileSidePic img {
  margin: 10px;
  transform: rotate(90deg);
  border-radius: 50%;
}

.userName {
  grid-column-start: col2;

  justify-self: start;

}

.stories {
  grid-row-start: row2;
  height: 200px;
  border: 1px solid #dbdbdb;
  /* border: 1px solid green; */
}

.stories-box {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.storyBar {
  display: flex;
  flex-direction: row;
justify-content: space-between;

 width: 100%;
 height: 10%;
 padding-bottom: 5%;
 /* border: 1px solid yellow; */
}
.storyLabels {
  margin: 8px;
}

.storyLab {
  margin: 8px;
}

.actualStories {
  grid-row-end: row3;
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  width: 100%;
  /* justify-content: flex-start; */
  overflow: scroll;
}

.storyContent {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
  width: 100%;

}

.profileStory img {
  margin-left: 20px;
  border-radius: 50%;
  border: 2px solid pink;

}

.storyTag {
  font-size: 0.7em;
  display: block;
  padding-left: 5%;



}

.suggestions {

  grid-row-start: row3;
  /* height: 200px; */
  /* border: 1px solid red; */
}

.suggestions-box {
  border: 1px solid #dbdbdb;
  padding-top: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestionsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 20%;
  /* border: 1px solid yellow; */
  }

.suggestionLabels {
  margin: 8px;
}

.suggestionLab {
  margin: 8px;
}

.suggestionsContent {
  width: 100%;
  height: 200px;
  overflow: scroll;
  /* display: flex;
  flex-direction: column; */
  /* overflow: hidden; */

  /* justify-content: flex-start; */
}

.actualSuggestions {
  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50px;
  width: 100%;


}

.profileSuggestions {
  padding-left: 10%;
  margin-left: 15px;
  padding-right: 20%;
}

.profileSuggestion img {
  margin-left: 20px;
  border-radius: 50%;
  border: 2px solid pink;

}

a {
      text-decoration:none;
   }

a:visited {
  color: #3897f0;
}

.suggestionTag {
  display: block;
  padding-left: 15%;
  padding-right: 10%;


}

.followTag {
  padding-top: 3%;
  font-size: 1.2em;
  color: #3897f0;
}


.footerLinks {
   display:inline;

  grid-row-start: row4;
}

.link1 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link2 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link3 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link4 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link5 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link6 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link7 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link8 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link9 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link10 {
  font-size: 0.8em;
   color: #c7c7c7;
}

.link11 {
  font-size: 0.8em;
   color: #c7c7c7;
}

@media (min-width: 400px) and (max-width:800px) {
  .sideBar {
    display: none;
  }
  .postPage {
    margin-left: auto;
    margin-right: 50%;
  }
}
